{% extends 'main/base.html' %}
{% block title %}Login |{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <div class="account-block pt-5 pb-5">
        <form action="" method="post">
            {% csrf_token %}
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter your username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter your Password">
                </div>
                <button type="submit" class="btn btn-success auth-btn">Login</button>
            </form>
            <p class="pt-4 pb-0">
                Don't have an account? <a href="/sign-up"> Create Here</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}