{% extends 'main/base.html' %}
{% block title %} Blog Details |{% endblock %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container pt-5 pb-5">
    <div class="post-details">
        <div class="row">
            <div class="col-md-8">
                <nav class="mt-3" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" 
                aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'home'%}">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
                    </ol>
                </nav>
                <div class="post-container">
                    <div class="row px-0">
                        <div class="col-md-12">
                            <div class="post-meta-thumb">
                                {% if post.image %}
                                <img width="1200" 
                                src="{{ post.image.url }}" 
                                class="post-meta-thumb-img" 
                                alt="" loading="lazy">
                                {% else %}
                                <img width="1200" 
                                src="{% static 'media/assets/images/blog-1.jpg' %}" 
                                class="post-meta-thumb-img" 
                                alt="" loading="lazy">
                                {% endif %}
                            </div>
                            <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/craftsmen-at-work/" class="post-title">
                                <h1 itemprop="headline">{{ post.title }}</h1>
                            </a>
                            <div class="post-meta-data sh-columns">
                                <div class="post-meta post-meta-one">
                                    <span class="post-meta-author">
                                        by Supriya Sontakke{{ post.author.username }}
                                    </span>
                                    <span class="post-meta-date">
                                        {{ post.created_at|date:'m/d/y H:i' }}
                                    </span>
                                </div>
                                <div class="post-meta post-meta-two">
                                    <div class="sh-columns post-meta-comments">
                                        <a 
                                        href="https://jevelin.shufflehound.com/blog1/2016/11/23/craftsmen-at-work/#comments" 
                                        class="post-meta-comments">
                                            <i class="fa-regular fa-message"></i>0
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="post-details-content">
                                <p>
                                    {{ post.description | safe }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-comment-section" id="blog-comment-section">
                                <h2 class="comment-header" id="replytitle">Leave a comment 
                                    <!--<i class="fa-solid fa-comment-dots"></i>-->
                                </h2>
                                <div class="comment-form-block" id="comment-form-block">
                                    <form method="post" class="mb-5">
                                        {% csrf_token %}
                                        {{ form|crispy}}
                                        <button class="btn btn-success submit-btn" type="submit">Send a comment</button>
                                    </form>
                                </div>
                                <!-- above comments name came from foreign key(Post) related_name -->
                                <div class="comment-block">
                                    <h4 class="comment-title">Comments({{post.comments.count}})</h4>
                                    {% if not post.comments.all %}
                                        No comments yet...
                                    {% else %}
                                        {% for comment in post.comments.all %}
                                            <article class="media mb-2" style="">
                                                <div class="media-content">
                                                    <p>
                                                        <!--<span class="by-text">By</span>-->
                                                        <span class="comment-name-user">{{ comment.name }}</span>
                                                        <small class="comment-date"> - {{ comment.created_at|date:'M-d-y H:i' }}</small>
                                                    </p>
                                                    <p class="comment-des">{{ comment.body }}</p>
                                                </div>
                                            </article>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 pl-5">
                {% include 'partials/latest_post.html'  %}
            </div>
        </div>
        

    </div>
</div>
{% endblock %}


