{% extends 'main/base.html' %}
{% block title %}Home{% endblock %} 
{% block content %}
{% load static %}
<section class="home-section">
    <div class="container pt-5 pb-5">
        
        <div class="blog-section">
            <div class="blog-content">
                <div class="post-filter">
                    <ul class="post-filter-list">
                        {% for cat in categories %}
                        <li class="post-filter-item">
                            <a href="/">
                                {{ cat.name }}
                            </a>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="about-section pt-5 pb-5">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="about-section-wrapper">
                                <div class="about-section-content">
                                    <h6 class="about-section-heading size-xs">
                                        <span>INTRODUCTION</span> 
                                    </h6>
                                    <h1 class="about-section-heading size-xl">
                                    <span>Welcome To My Blog</span> </h1>
                                </div>
                                <div id="about-section-text-block" class="about-section-text-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus elit aliquam facilisis pharetra. Aenean consectetur lacinia diam a tincidunt. Vivamus facilisis lacus non velit suscipit pellentesque. Nam ac mauris nec mi lobortis sollicitudin sed at lacus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="site-section">
                    <div class="row">
                        <div class="col-md-8 pe-4">
                            <div class="row">
                                {% for post in posts %}
                                    <div class="col-md-6 mb-3">
                                        <div class="post-card post-entry1 mt-2">
                                            <div class="post-meta-thumb">
                                                {% if post.image %}
                                                    <img width="1200" height="675" 
                                                    src="{{ post.image.url }}" 
                                                    class="attachment-jevelin-landscape-large size-jevelin-landscape-large wp-post-image" 
                                                    alt="{{ post.title }}" loading="lazy">
                                                {% else %}
                                                    <img width="1200" height="675" 
                                                    src="{% static 'media/assets/images/elasticsearch.jpeg' %}" 
                                                    class="attachment-jevelin-landscape-large size-jevelin-landscape-large wp-post-image" 
                                                    alt="{{ post.title }}" loading="lazy">
                                                {% endif %}
                                            </div>
                                        
                                            <div class="card-body-content">
                                                <h5 class="card-title"> 
                                                    <a href="#" 
                                                    style="color: #000;">{{ post.title|slice:":70"|safe }}</a>
                                                </h5>
                                                <p class="card-desc">
                                                    {{ post.description | truncatechars:200 }}
                                                </p>
                                                <div class="post-meta-data">
                                                    <div class="post-meta-one">
                                                        <!--<span class="by-text">By</span>-->
                                                        <span>{{ post.author.first_name }} {{ post.author.last_name }} - </span>
                                                        <span class="comment-date">{{ post.created_at|date:'M-d-y'}}</span>
                                                    </div>
                                                    <!--<div class="post-meta-two" style="display: table-cell;
                                                    vertical-align: middle;text-align: right;">{{ post.created_at|date:'M-d-y H:i'}}</div>-->
                                                    <div class="post-meta-three">
                                                        {% if user == post.author %}
                                                            <form method="post">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-icon delete-btn-icon" name="post-id" value="{{post.id}}" 
                                                                style="padding: 0px 5px;font-size: 12px;">
                                                                    <i class="fa-solid fa-trash-can"></i>
                                                                </button>
                                                                <a href="#" class="btn btn-icon edit-btn-icon">
                                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                                </a>
                                                            </form>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <!--<p class="post-meta-data-excerpt">{{ post.excerpt|slice:":150"|safe }}-->
                                                </p>
                                                <p class="post-meta-data-readmore">
                                                    <a class="read-more-icon" href="#">
                                                        <span>Read More</span>
                                                        <span><i class="fa-solid fa-arrow-right-long"></i></span> 
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="col-md-6 mb-3">
                                        
                                        {% for post in posts2 %}
                                            <div class="post-entry-2 d-flex flex-row bg-light mb-3">
                                                {% if post.image %}
                                                    <div class="post-entry-2-thumbnail" style="background-image:url('{{ post.image.url }}')"></div>
                                                {% else %}
                                                    <div class="post-entry-2-thumbnail" style="background-image:url('{{ post.image.url }}')"></div>
                                                {% endif %}
                                                <div class="post-entry-2-contents">
                                                    <h2>
                                                        <a href="blog-single.html">{{ post.title }}</a>
                                                    </h2>
                                                    <div class="post-entry-2-post-meta">
                                                        <span class="d-block">
                                                            <a href="#">Dave Rogers</a> in <a href="#">News</a>
                                                        </span>
                                                        <span class="date-read">{{ post.created_at|date:'M-d-y'}}</span></span>
                                                        <p class="post-entry2-data-readmore">
                                                            <a href="#">
                                                                <span>Read More</span>
                                                                <span><i class="fa-solid fa-arrow-right-long"></i></span> 
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <p>
                                            <a href="#" class="more">
                                                <span> 
                                                    See All Blogs 
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-arrow-right-long"></i>
                                                </span>
                                            </a>
                                        </p>
                                    </div>
                                {%empty%}
                                    <p>No Post yet are available :(</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            {% include 'partials/latest_post.html'  %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}